body {
    background: #f8f9fa;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40;
    font-family: 'Helvetica', sans-serif;
}

.bg-steel {
    background-color: #28a745; /* Updated to a green color */
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

.navbar-nav .nav-link.active {
    font-weight: 700;
}

.content-section {
    background: #ffffff;
    padding: 20px 30px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-title {
    color: #007bff;
    font-size: 1.5rem;
}

a.article-title:hover {
    color: #0056b3;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
    margin-top: 10px;
}

.article-img {
    height: 75px;
    width: 75px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
    color: #6c757d;
}

.article-metadata a:hover {
    color: #495057;
    text-decoration: none;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    border-radius: 50%;
    border: 2px solid #28a745;
}

.account-heading {
    font-size: 2.5rem;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}

.footer {
    background: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.btn-lg {
    padding: 15px 30px;
    font-size: 1.25rem;
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}


.btn-lg {
    padding: 15px 30px;
    font-size: 1.25rem;
    border-radius: 5px;
}

.btn-outline-secondary {
    border-color: #28a745;
    color: #28a745;
}

.btn-outline-secondary:hover {
    background-color: #28a745;
    color: #fff;
}

.list-group-item {
    padding: 15px;
    font-size: 1.1rem;
}

