{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
	<p>This webapp is brought to you by:</p>
  <ul>
    <li>Lasse Abildhauge Christensen</li>
    <li>Aleksander Elo Christensen</li>
  </ul>

	<p>You can register following the register - button in the top left of the website</p>
	<p>For at tilføje flere eksempeldata skal du foretage dine ændringer i DML-scriptet schema_ins.sql.</p>
	<p>Prototypen er vertikal. Vi har implementeret nogle funktioner, men projektet er ufuldstændigt. Prototypen giver et udgangspunkt for jeres arbejde.</p>

{% endblock content %}
